// ---Colores---
$color-azure: azure;
$color-tomato: tomato;

// ---Font-size---
$size: 200px;
$style: roboto;

// ---@import---
@import "partials/reset";
@import "partials/header";
@import "partials/carousel";
@import "partials/footer";
