* {
  margin: 0;
  padding: 0;
}

.body {
  background: -webkit-gradient(linear, right bottom, left top, from(#caf1f1bd), to(#447976f8));
  background: linear-gradient(to left top, #caf1f1bd, #447976f8);
}

.header, .header .navbar-toggler {
  color: azure;
}
.header .navbar__fondo {
  background-color: #0c7572;
}
.header .navbar-brand img {
  width: 90px;
  height: 80px;
  padding-left: 10px;
  border-radius: 10px 30px/30px 40px;
}
.header .navbar-brand img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 3s;
  transition: 3s;
}
.header .nav-item {
  padding: 5px;
  text-transform: uppercase;
}
.header .nav-item:hover {
  border-radius: 10px;
  background-color: #034574;
  -webkit-transition: 3s;
  transition: 3s;
}

/* Pagina de proyectos */
.proyectos {
  padding-top: 80px;
  font-family: roboto;
}

#proyectos img,
#proyectos iframe {
  width: 100%;
  height: 250px;
}

#proyectos .col-lg-4 {
  padding: 5px;
}

.proyec__title {
  background-color: rgba(169, 169, 169, 0.527);
  color: rgba(80, 71, 71, 0.5);
  font-size: 20px;
  border-radius: 15px;
  margin: 10px;
}

.enlace {
  text-decoration: none;
  text-transform: uppercase;
}

/* Pagina de proyectos */
.proyectos {
  padding-top: 120px;
  font-family: roboto;
  color: azure;
  /*  transformaciones de imagenes y videos. */
}
.proyectos #proyectos img,
.proyectos #proyectos iframe {
  width: 100%;
  height: 250px;
}
.proyectos #proyectos .col-lg-4 {
  padding: 5px;
}
.proyectos .proyec__title {
  background-color: rgba(169, 169, 169, 0.527);
  color: rgba(80, 71, 71, 0.5);
  font-size: 20px;
  border-radius: 15px;
  margin: 10px;
}
.proyectos .enlace {
  text-decoration: none;
  text-transform: uppercase;
}
.proyectos #proyectos img:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: 3s;
  transition: 3s;
}
.proyectos #proyectos iframe:hover {
  -webkit-transition: 3s;
  transition: 3s;
  -webkit-transform: skew(5deg);
          transform: skew(5deg);
}

/* Footer de la pagina */
.footer {
  background: -webkit-gradient(linear, right top, left top, from(#a6b4b4f8), to(#2c7573f8));
  background: linear-gradient(to left, #a6b4b4f8, #2c7573f8);
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  width: 100%;
  height: 100px;
}

.social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.social-icons li a {
  padding: 15px;
  color: #c32aa3;
  font-size: 30px;
  cursor: pointer;
  margin-right: 16px;
  position: relative;
  text-align: center;
  line-height: 70px;
}

.social-icons li a::before,
.social-icons li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: 0;
  top: 0;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

.social-icons la a :hover i {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.social-icons li a:hover::before {
  -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
  border-left: 3px solid;
  border-right: 3px solid;
  border-radius: 50%;
}

.social-icons li a:hover::after {
  -webkit-transform: skewY(-25deg);
          transform: skewY(-25deg);
  border-top: 3px solid;
  border-bottom: 3px solid;
  border-radius: 50%;
}

.fa-facebook {
  color: #3b5998;
  -webkit-filter: drop-shadow(10px 10px 10px #3b5998);
          filter: drop-shadow(10px 10px 10px #3b5998);
}

.fa-yahoo {
  color: #572364;
  -webkit-filter: drop-shadow(10px 10px 10px #572364);
          filter: drop-shadow(10px 10px 10px #572364);
}

.fa-linkedin {
  color: #0e76a8;
  -webkit-filter: drop-shadow(10px 10px 10px #0e76a8);
          filter: drop-shadow(10px 10px 10px #0e76a8);
}

.fa-github {
  color: black;
  -webkit-filter: drop-shadow(10px 10px 10px black);
          filter: drop-shadow(10px 10px 10px black);
}

.footer__text {
  color: azure;
  margin-top: 10px;
}

.footer hr {
  margin: 0;
}/*# sourceMappingURL=proyectos.css.map */