// ---Colores---
$color-azure: azure;

// ---Font-size---
$size: 200px;

// ---@import---
@import "partials/reset";
@import "partials/header";

/* Pagina de proyectos */
.proyectos {
  padding-top: 80px;
  font-family: roboto;
}
#proyectos img,
#proyectos iframe {
  width: 100%;
  height: 250px;
}
#proyectos .col-lg-4 {
  padding: 5px;
}
.proyec__title {
  background-color: rgba(169, 169, 169, 0.527);
  color: rgba(80, 71, 71, 0.5);
  font-size: 20px;
  border-radius: 15px;
  margin: 10px;
}
.enlace {
  text-decoration: none;
  text-transform: uppercase;
}

@import "partials/proyectos";
@import "partials/footer";
