/* -- Pagina principal-Carousel-- */

.carousel-item {
  height: 700px;
  min-height: 500px;

  .img_carousel {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .carousel-caption {
    margin: 100px;
  }
  .container-text a {
    text-transform: uppercase;
    text-decoration: none;
    color: $color-tomato;
  }
  .parrafo {
    font-size: 20px;
    color: $color-azure;
  }
  .container-text {
    padding-top: 10px;
    margin-left: 20px;
    animation-duration: 4s;
    animation-name: resalto;
    animation-iteration-count: infinite;
    text-transform: uppercase;
    text-decoration: none;
  }
  @keyframes resalto {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0.25;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
}
