/* --Pagina de contactos-- */



.container {
  justify-content: center;
  padding-top: 120px;

  .contactos-form {
    background-color: rgba(119, 124, 124, 0.425);
    padding: 20px 60px;
    border: 0.2px $color-azure solid;
    border-radius: 20px;
  }
  .enlace {
    text-transform: uppercase;
    text-decoration: none;
  }
}
