/* --Página de proyectos --*/

.proyectos {
  padding-top: 120px;
  font-family: $style;

  & iframe {
    width: 100%;
    height: 250px;
  }
  & .col-lg-4 {
    padding: 5px;
  }
  /*  transformaciones de imagenes y videos. */
  & img:hover {
    transform: scale(1.25);
    transition-duration: 300ms;
  }
  & iframe:hover {
    transition-duration: 300ms;
    transform: skew(5deg);
  }
  .proyec__title {
    background-color: rgba(169, 169, 169, 0.527);
    color: rgba(80, 71, 71, 0.5);
    font-size: 20px;
    border-radius: 15px;
    margin: 10px;
  }
  .enlace {
    text-decoration: none;
    text-transform: uppercase;
  }
}
